/* CSS stillerinizi buraya girin */
html{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


body{
    display:flex;
    flex-direction: column;
    align-content: center;
    margin-left: 5rem;
    margin-right: 5rem;
}
.baslik{
    display: flex;
    color: black;
    background-color: white;
    border:  solid #000000;
    justify-content: center;
}
.buyukresim img{
    width:45rem;
}

.isim{
    font-weight: bold;
    font-size: 2rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(204, 223, 224);
    padding: 1rem;
    min-width: 40rem;
}

.header h1{
    font-size: 2rem;
    padding-left: 2.5rem;
    
}

.flex-nav {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    padding-top: 2rem;
    padding-left: 1rem;

}

.flex-nav a{
    background-color: white;
    border:  .1px solid #000000;
    padding: .4rem 1.4rem;
}
.flex-nav a:hover{
    background-color: black;
    color: white
}

a {
    text-decoration: none;
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
.aciklama{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    font-size: 1.2rem;
    padding: 5rem 20rem 1rem 3rem;
    width: 30rem;
}
.projeler{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: rgb(204, 223, 224);
    padding: 4rem;
}

.border{
    color: black;
    background-color: white;
    border:  solid #000000;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}
.isimheader{

    padding: .3rem 1.5rem;
}
.kendim{
    max-width: 20rem;
    padding-top: 2rem;
    font-size: 1rem;
}
.footer-yazi{
    display: flex;
    flex-direction: column;
    
}

.enalt:hover{
    
    background-color: black;
    color: white
    
}

.img{
    display: flexbox;
    flex-wrap:row wrap;
    justify-content: space-between;
    width:27rem;
}
.img p{
    padding: .5rem;
    padding-bottom: 3rem;
}

@media (min-width: 500px ) and (max-width: 800px){
    body{
        margin: 0 0 0 0 ;
    }
    
    .baslik{
        display: flex;
        color: black;
        background-color: white;
        border:  solid #000000;
        justify-content: center;
        width: 50rem;
    }
    .buyukresim img{
        display:flex;
        width:50rem;
    }
    
    .isim{
        font-weight: bold;
        font-size: 2rem;
    }
    
    .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: rgb(204, 223, 224);
        padding: 1rem;
        width: 50rem;
    }
    
    .header h1{
        font-size: 2rem;
        padding-left: 2.5rem;
        
    }
    
    .flex-nav {
        display: flex;
        flex-direction: row;
        font-size: 1rem;
        padding-top: 2rem;
        padding-left: 1rem;
    
    }
    
    .flex-nav a{
        background-color: white;
        border:  .1px solid #000000;
        padding: .4rem 1.4rem;
    }
    .flex-nav a:hover{
        background-color: black;
        color: white
    }
    
    a {
        text-decoration: none;
    }
    
    .content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    
    }
    .aciklama{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: center;
        font-size: 1.2rem;
        padding: 5rem 13rem 1rem 16rem;
        width: 30rem;
    }
    .projeler{
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        background-color: rgb(204, 223, 224);
        width: 50rem;
    }
    
    .border{
        color: black;
        background-color: white;
        border:  solid #000000;
        text-align: center;
        padding: 1rem;
        margin-top: 1rem;
    }
    .isimheader{
    
        padding: .3rem 1.5rem;
    }
    .kendim{
        max-width: 20rem;
        padding-top: 2rem;
        font-size: 1rem;
    }
    .footer-yazi{
        display: flex;
        flex-direction: column;
        padding-right: 7rem;
        
    }
    
    .enalt:hover{
        
        background-color: black;
        color: white
        
    }
    
    .img{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    
        align-items: center;
        padding-left: 12rem;
        

    }
    .img p{
        padding: .5rem;
        padding-bottom: 3rem;
    }
    
}
@media (min-width: 100px ) and (max-width: 500px){
    body{
        margin: 0 0 0 0 ;
    }
    
    .baslik{
        color: black;
        background-color: white;
        border:  solid #000000;
        width: 50rem;
        text-align: center;
    }

    .buyukresim img{
        width:38rem;
        display:flex;
    }
    
    .isim{
        font-weight: bold;
        font-size: 2rem;
    }
    
    .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: rgb(204, 223, 224);
        padding: 1rem;
        width: 50rem;
    }
    
    .header h1{
        font-size: 2rem;
        padding-left: 2.5rem;
        
    }
    
    .flex-nav {
        display: flex;
        flex-direction: row;
        font-size: 1rem;
        padding-top: 2rem;
        padding-left: 1rem;
    
    }
    
    .flex-nav a{
        background-color: white;
        border:  .1px solid #000000;
        padding: .4rem 1.4rem;
    }
    .flex-nav a:hover{
        background-color: black;
        color: white
    }
    
    a {
        text-decoration: none;
    }
    
    .content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    
    }
    .aciklama{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: center;
        font-size: 1.2rem;
        padding-left: 2rem;
        padding-right: 3rem;
        width: 38rem;
    }
    .projeler{
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        background-color: rgb(204, 223, 224);
        width: 38rem;
    }
    
    .border{
        color: black;
        background-color: white;
        border:  solid #000000;
        text-align: center;
        padding: 1rem;
        margin-top: 1rem;
    }
    .isimheader{
    
        padding: .3rem 1.5rem;
        margin-left: 8rem;
    }
    .kendim{
        max-width: 20rem;
        padding-top: 2rem;
        font-size: 1rem;
        padding-left: 8rem;
    }
    .footer-yazi{
        display: flex;
        flex-direction: column;
        padding-right: 7rem;
        
    }
    .isim{
        padding-left: 8rem;
    }
    
    .enalt:hover{
        
        background-color: black;
        color: white
        
    }
    
    .img{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    
        align-items: center;
        padding-left: 6rem;
        

    }
    .img p{
        padding: .5rem;
        padding-bottom: 3rem;
    }
    
}